.layout {
  display: grid;
  grid-template-columns: 230px 1fr;

  min-height: 100vh;
  max-width: 670px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1022px) {
  .layout {
    max-width: 1270px;
    grid-template-columns: 230px 1fr 230px;
  }
}

@media (min-width: 1298px) {
  .layout {
  }
}
