.navButton {
  position: relative;

  padding: 10px;
  border-radius: 99px;
  display: flex;
  align-items: center;
  transition: var(--fade);
}

.navButton:hover {
  background-color: var(--c-theme-20);
  color: var(--c-theme);
}

.navButton svg {
  font-size: 26px;
}

.navButton svg + * {
  margin-left: 20px;
  margin-right: 15px;
}

.navButtonSelected {
  color: var(--c-theme);
}

.notify {
  position: absolute;
  left: 20px;
  top: 5px;

  height: 17px;
  padding-right: 6px;
  padding-left: 6px;
  border-radius: 17px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--c-theme);
  color: var(--c-text-color);
  font-size: 11px;
  border: 1px solid var(--c-primary);
}
