.box {
  padding: 10px;
}

.box:hover {
  color: var(--c-text-color);
}

.body {
  margin-left: 10px;
  margin-right: 20px;
}

.body * {
  display: block;
  text-align: left;
}

.slug {
  color: var(--c-gray);
}

.icon {
  margin-left: auto;
}
