.gridcontainer {
  display: grid;
  grid-template-columns: auto;
  grid-template-areas: "avatar body";
  grid-template-columns: 50px 1fr;
  grid-gap: 15px;
  padding: 12px 15px;
  border-bottom: 1px solid var(--c-border-color);
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.avatar img {
  border-radius: 99px;
}

.tweettext {
  margin-top: 5px;
  margin-bottom: 5px;
}

.tweettext textarea {
  font-size: 20px;
  width: 100%;
  height: 85px;
  color: var(--c-text-color);
  text-align: start;
  background: transparent;
  overflow: hidden;
  outline: none;
  resize: none;
}

.gridcontainer2 {
  display: grid;
  grid-template-columns: auto;
  grid-template-columns: 5fr 1fr;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  background: transparent;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: transparent;
}

.icon:hover {
  background-color: rgba(29, 161, 242, 0.1);
}

.tweetbutton {
  display: flex;
  justify-content: rigth;
  background: transparent;
}

.tweetbutton button {
  background-color: #1d9bf0;
  color: white;
  height: 36px;
  min-width: 78px;
  border: 0;
  border-radius: 99px;
  font-weight: bold;
  font-size: 15px;
}

.tweetbutton button:hover {
  background-color: #1683cc;
}
