:root {
  --c-primary: #000;
  --c-thema: rgba(29, 161, 242, 1);
  --c-thema-20: rgba(29, 161, 242, 0.2);
  --c-text-color: #fff;
  --c-border-color: #2f3336;
  --c-gray: #6e767d;
  --c-dark-gray: #202327;
}
